<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="./css/base.css")
	link(rel="stylesheet", href="./css/style.css")
body
	div.sWrap
		div.sTopBox
			div.sHeader 
				a(href="#").sLogo
				div.sNav
					a(href="") 首页HOME
					a(href="") 案例CASE
					a(href="") 联系CONTACE
					a(href="") 关于ABOUT
			h2.sTitle I only do professional things with professional people.
		div.sMian
			h2.sMianTitle 精品案例
				span CASE
			ul.sCaseList
				li
					a(href="mobile/2016/20160305/index.html").sCaseLink
						img(src="iamges/temp/case1.jpg", alt="").sImg
						p 
							span.sCaseName 中国移动
							span.sCaseTime 2016.03.05
				li
					a(href="").sCaseLink
						img(src="iamges/temp/case1.jpg", alt="").sImg
						p 
							span.sCaseName 中国移动
							span.sCaseTime 2016.03.05
				li
					a(href="").sCaseLink
						img(src="iamges/temp/case1.jpg", alt="").sImg
						p 
							span.sCaseName 中国移动
							span.sCaseTime 2016.03.05
				li
					a(href="").sCaseLink
						img(src="iamges/temp/case1.jpg", alt="").sImg
						p 
							span.sCaseName 中国移动
							span.sCaseTime 2016.03.05
				li
					a(href="").sCaseLink
						img(src="iamges/temp/case1.jpg", alt="").sImg
						p 
							span.sCaseName 中国移动
							span.sCaseTime 2016.03.05
				li
					a(href="").sCaseLink
						img(src="iamges/temp/case1.jpg", alt="").sImg
						p 
							span.sCaseName 中国移动
							span.sCaseTime 2016.03.05
				li
					a(href="").sCaseLink
						img(src="iamges/temp/case1.jpg", alt="").sImg
						p 
							span.sCaseName 中国移动
							span.sCaseTime 2016.03.05
				li
					a(href="").sCaseLink
						img(src="iamges/temp/case1.jpg", alt="").sImg
						p 
							span.sCaseName 中国移动
							span.sCaseTime 2016.03.05
	div.sFooter
		京ICP备15027177号-2　作品版权证：J20101915209714　Copyright © wncss.com. All Rights Reserved.

